/* applies to all body unless something else overrides it */
body {
    background-color: rgb(100,100,100);
    font-size: 20px;
    font-style:italic;
  }

  h1 {
      font-size: 40px;
      font-style: oblique;    /* another comment */
  }
